* {
    margin: 0;
    padding: 0;
}

html, body {
    width: 100vw;
    height: 100vh;
}

body {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-direction: column;
}

#canvas {
    height: 304px;
    width: 304px;
}